* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
}

.dashbody {
  width: 50vw;
  height: 150vh;
  background-color: #e5f4ec;
  margin: 0 auto;
}
.dashnav {
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  padding: 3vw;
}

.listing {
  height: 30vh;
  width: 49vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#housebuttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 0px 15vh 0px;
}
